:root {
  --shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  --clr-bg: white;
  --clr-fg-alt: gray;
  --clr-primary: black;
}
.mainsection {
  width: 100%;
}

.mainsection > :nth-child(1) {
  margin-bottom: 2em;
}

.vertical-timeline-element-subtitle {
  margin-top: 0.5em;
  font-size: 0.9em;
}

.vertical-timeline-element-title {
  font-size: 1.1em;
  color: var(--clr-primary);
}
