*,
::after,
::before {
  box-sizing: border-box;
}
#root {
  width: 100% !important;
  overflow-x: hidden !important;
}
body {
  color: black;
  background: white !important;
}
.titleH2Tag {
  font-family: monospace;
  font-weight: bold;
  font-size: 2.5rem;
}
@font-face {
  font-family: bigF;
  src: url(./font/BIGF.otf);
}
